@model DUEGsm.Models.Order

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/Orders.css" asp-append-version="true" />

<body class="bg">
    <div class="regConf">
        <h1 class="Title">Megrendelt termék(ek)</h1>
        <div class="scrollBox">
            <table class="orderTable">
                <thead>
                    <tr>
                        <th>
                            Kép
                        </th>
                        <th>
                            Márka
                        </th>
                        <th>
                            Modell
                        </th>
                        <th>
                            Szín
                        </th>
                        <th>
                            Tárhely
                        </th>
                        <th>
                            Ár
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Mobiles != null)
                    {
                        @foreach (var item in Model.Mobiles)
                        {
                            <tr>
                                <td>
                                    <div class="imageBox">
                                        @if (item.Image != null && item.Image.Length > 0)
                                        {
                                            string imageSource = $"data:image;base64,{Convert.ToBase64String(item.Image)}";
                                            <img class="Pic" src="@imageSource" alt="Termék kép">
                                        }
                                        else
                                        {
                                            <img class="Pic" src="~/Content/Image/testDevice.jpg" alt="Nincs kép">
                                        }
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Modell)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stroage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
</div>
</body>
<div>
    <a class="back" asp-action="Index">Vissza</a>
</div>
