@model DUEGsm.Models.Mobile 
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Részletek";
}

<link rel="stylesheet" href="~/css/MobilesDetDel.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomeIndex.css" asp-append-version="true" />
<script src="~/js/cardSlider.js" type="text/javascript" asp-append-version="true"></script>

<h1>Részletek</h1>


<div class="conLeft">
    @if (Model.Image != null && Model.Image.Length > 0)
    {
        string imageSource = $"data:image;base64,{Convert.ToBase64String(Model.Image)}";
        <img class="Pic" src="@imageSource" alt="Termék kép">
    }
    else
    {
        <img class="Pic" src="~/Content/Image/testDevice.jpg" alt="Nincs kép">
    }
</div>
<div>
    <h4>Telefon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stroage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stroage)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
    </dl>
</div>
<div class="descriptionCon">
    <dl class="row description">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<h2>
    Kapcsolodó termékek
</h2>
<div class="wrapper">
    <i id="left" class="fa-solid fas fa-angel-left"></i>
    <ul class="carousel">
        @foreach (var item in ViewBag.RelatedProducts)
        {
            <a class="cardClick" asp-controller="Mobiles" asp-action="Details" asp-route-id="@item.Id">
            <li class="card">
                <div class="img">
                        @if (item.Image != null && item.Image.Length > 0)
                        {
                            string imageSource = $"data:image;base64,{Convert.ToBase64String(item.Image)}";
                        <img class="kep" src="@imageSource" alt="Termék kép">
                        }
                        else
                        {
                        <img class="kep" src="~/Content/Image/testDevice.jpg" alt="Nincs kép">
                        }
                </div>
                <h2>
                    @item.Brand
                    @item.Modell
                </h2>
                <span> @item.Price<span> Ft</span></span>
            </li></a>
        }
    </ul>
    <i id="right" class="fa-solid fas fa-angel-right"></i>
</div>
<div>
    <a asp-action="Index" class="Back">Vissza</a>
    @if (!User.IsInRole("Admin"))
    {
        <a class="Cart" asp-controller="Cart" asp-action="buy" asp-route-id="@Model.Id"><img class="bin" src="~/Content/Image/cart.png"></a>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a class="Edit" asp-action="Edit" asp-route-id="@Model?.Id">Szerkesztés</a>
    }
</div>
