@model DUEGsm.Models.Mobile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mobile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Screen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Screen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stroage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stroage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
