@model MobilViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Telefonok";
}
<link rel="stylesheet" href="~/css/MobilesIndex.css" asp-append-version="true" />
<script src="~/js/inputBefore.js" type="text/javascript" asp-append-version="true"></script>

<h1>Telefonok</h1>
<div class="containerLeft">
    <div>
        <p>
            <h3 class="sortTitle">Keresési feltételek:</h3>
            <form asp-controller="Mobiles" asp-action="Index" method="get">
                <h5 class="sortTags">
                    Megnevezés:
                </h5>
                <div class="searchContainer">
                    <input type="text" asp-for="SearchString" class="search" placeholder="Keressen..." /><br>
                </div>

                <h5 class="sortTags">
                    Márka:
                </h5>
@*                  <select asp-for="ProductBrand" asp-items="Model.Brand" class="BrandOption">
                    <option value="">Összes</option>
                </select>  *@
                <div>
                    <ul class="sortOptions">
                        <li>
                            <label class="cyberpunk-checkbox-label">
                                <input class="cyberpunk-checkbox" type="checkbox" asp-for="ProductBrand" value="0" name="filterValue" id="form-checkbox-1">
                                Összes
                            </label>
                        </li>
                        <li>
                            <label class="cyberpunk-checkbox-label">
                                <input class="cyberpunk-checkbox" type="checkbox" asp-for="ProductBrand" value="1" name="filterValue">
                                Apple
                            </label class="cyberpunk-checkbox-label">
                        </li>
                        <li>
                            <label class="cyberpunk-checkbox-label">
                                <input class="cyberpunk-checkbox" type="checkbox" asp-for="ProductBrand" value="2" name="filterValue">
                                Huawei
                            </label>
                        </li>
                        <li>
                            <label class="cyberpunk-checkbox-label">
                                <input class="cyberpunk-checkbox" type="checkbox" asp-for="ProductBrand" value="3" name="filterValue">
                                Samsung
                            </label>
                        </li>
                        <li>
                            <label class="cyberpunk-checkbox-label">
                                <input class="cyberpunk-checkbox" type="checkbox" asp-for="ProductBrand" value="4" name="filterValue">
                                Xiomi
                            </label>
                        </li>
                    </ul>
                </div>

                <h5 class="sortTags">
                    Modell:
                </h5>
                <div class="searchContainer">
                    <select asp-for="ProductModell" asp-items="Model.Modell" class="search">
                        <option value="">Összes</option>
                    </select>
                </div>
                <h5 class="sortTags">
                    Rendezés:
                </h5>
                <div class="searchContainer">
                    <select asp-for="OrderValue" class="search">
                        <option value="1">Legújabb termék</option>
                        <option value="2">Ár szerint csökkenő sorrend</option>
                        <option value="3">Ár szerint növekvő sorrend</option>
                        <option value="4">A-tól Z-ig modell szerint</option>
                        <option value="5">Z-től A-ig modell szerint</option>
                    </select>
                </div>
                <br>
                @* <input class="searchButton" type="submit" value="Keresés" /> *@
                <button type="submit" class="buttonStyle">Keresés</button>
            </form>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <a asp-action="Create"><input type="button" class="inputButtonStyle" value="Termék hozzáadása"/></a>
            }
        </p>
    </div>
</div>
<div class="containerRight">
    <section class="products">
        @if (Model.Mobile != null)
        {
            @foreach (var item in Model.Mobile)
            {
                <a class="abuttom" asp-action="Details" asp-route-id="@item.Id">
                <div class="box">
                    <span></span>
                    <div class="content">
                    <div class="image">
                       <img class="kep" src="~/Content/Image//testDevice.jpg" alt="Nincs kép">
                    </div>
                        <h5 class="text">
                            @Html.DisplayFor(modelItem => item.Brand)
                            @Html.DisplayFor(modelItem => item.Modell)
                        </h5>
                        <h6 class="text">@Html.DisplayFor(modelItem => item.Price) Ft</h6>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a class="abuttom" asp-action="Edit" asp-route-id="@item.Id">Szerksztés</a><br>
                        }
                        @* <a class="abuttom" asp-action="Details" asp-route-id="@item.Id">Részletek</a><br> *@
@*                         @if (SignInManager.IsSignedIn(User) && User.IsInRole("Felhasználó"))
                        {
                            <a class="abuttom" asp-controller="Cart" asp-action="buy" asp-route-id="@item.Id">Kosárba</a>
                            <br>
                        } *@
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a class="abuttom" asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                        }
                        <a class="abuttom" asp-controller="Cart" asp-action="buy" asp-route-id="@item.Id">Kosárba</a>
                    </div>
                </div>
                </a>
            }
        }
    </section>
</div>



